@charset "utf-8";
/* CSS Document */
/* Import open-sans google font
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic&subset=latin,greek,latin-ext);
*/
/*-  variable
----------------------------------------------------------------------*/
:root{
    --main-bg-color: #7ECFC9;
}
/*-  BASE STYLES
----------------------------------------------------------------------*/
body{
    /*font-family: 'Open Sans', sans-serif !important;*/
    background: #7ECFC9;
    background-image: url("../img/bg.png");
    background-size: cover;
    font-weight: 400;
    color: #333;
}
h1  { }
h2  { }
h3  { }
h4  { }
p   { }
a   		{ }
a:hover   	{ }
a:focus		{ }
div { display: block; }
img { width:100%; }
.clear { clear: both; }
.width100 { width: 100%; }
.width75 { width: 75%; }
.width50 { width: 50%; }
.width25 { width: 25%; }
.nopaddings {padding: 0 !important;}
.nolpadding {padding-left: 0 !important;}
.norpadding {padding-right: 0 !important;}
.notpadding {padding-top: 0 !important;}
.nobpadding {padding-bottom: 0 !important;}
.nolrpadding {padding-left: 0 !important;padding-right: 0 !important;}
.notbpadding {padding-top: 0 !important;padding-bottom: 0 !important;}
/* ======================================================================================================
   LAYOUT
   ====================================================================================================== */
.app-berhasil,
.app{
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;

    /*display: block;*/
    /*height: 100%;*/
    /*width: 375px;*/
    /*position: relative;*/
    /*overflow: hidden;*/
    /*margin: 0 auto;*/
}

.app-berhasil{
    background: url("../img/bg-berhasil.png");
    background-size: cover;
}


.fullPage{
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    z-index: -1;
}


.center-margin-auto{
    margin: 0 auto !important;
}

.bottom-container{
    position: absolute;
    width: 100%;
    bottom: 10px;
}

h1.splash-screen-title{
    text-align: center;
}

.btn-ojol{
    background-image: url("../img/Asset 4.png");
    width: 230px;
    height: 97px;
    display: block;
    background-repeat: no-repeat;
    font-size: 38px;
    color: #ffffff;
    padding: 8px 0 0 0;
    margin: 0 auto;
}

.bubble-text{
    width: 280px;
    margin: 0 auto;
    margin-top: 20px;
}

.bubble-text .content-text{
    background-image: url("../img/bwmiddle.png");
    background-repeat: repeat-y;
    padding: 0 20px;
}

.bubble-text:before{
    content: "";
    display: block;
    height: 21px;
    background-image: url("../img/bwtop.png");
}

.bubble-text:after{
    content: "";
    display: block;
    height: 90px;
    background-image: url("../img/bwbottom.png");
}

.show{
    display: block !important;
}

.hideme{
    display: none !important;
}

.ribbon-mantap{
    background: url("../img/mantap.png");
    display: block;
    width: 295px;
    height: 82px;
    margin: 25px auto 15px;
}

.object-acive{
    max-width: 80%;
    margin: auto;
}

.text-acive{
    width: 200px;
    padding: 10px;
    background-color: #fff;
    margin: 30px auto 0;
    text-align: center;
}

.logo{
    margin-top: -15%;
}

.logo > img{
    width: 85%;
}

.objectnya{
    position: fixed;
    width: 50px;
    height: 50px;
    display: block;
    background: #005cbf;


}

/*- SCNENE satu
/*****************************************************************************/
.ojol-object{
    position: absolute;
    top: 185px;
    width: 100%;
}

/*- SCNENE tiga
/*****************************************************************************/
canvas{
    margin: 100px auto 0;
}

.finish-puzzle{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    background-color: #000;
    width: 300px;
}


.finish-puzzle-container{
    width: 100%;
    height: 100%;
    background-color: #000;
    display: none;
}

.hint-puzzle-container{
    background-color: rgba(0,0,0,.3);
    width: 100%;
    height: 100%;
    display: none;
}

.hint-puzzle{
    top: 36%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    /*background-color: #000;*/
    width: 300px;
    text-align: center;
    font-size: 28px;
}

#puzzle{
    background: url("../img/hengpon.png");
    background-size: cover;
    display: block;
}

.ketuk-container{
    display: block;
    width: 85px;
    position: absolute;
    top: 23%;
    left: 42%;
}


/*- NAVIGASI
/*****************************************************************************/
/*- CONTENT
/*****************************************************************************/
/*- FOOTER
/*****************************************************************************/


/* ======================================================================================================
   MEDIA QUERY
   ====================================================================================================== */
/*********************************************************** GLOBAL RESPONSIVE */
/********************************************************************************** MOBILE POTRAIT ********/
@media (max-width: 480px) and (max-aspect-ratio: 13/9) {
}
/********************************************************************************** MOBILE LANDSCAPE ********/
@media (min-width: 481px) and (max-width: 767px) and (min-aspect-ratio: 13/9) {
}
/********************************************************************************** TABLET POTRAIT ********/
@media (min-width: 768px) and (max-width: 991px) and (max-aspect-ratio: 13/9) {
}
/********************************************************************************** TABLET LANDSCAPE ********/
@media (min-width: 992px) and (max-width: 1199px) and (min-aspect-ratio: 13/9) {
}

@media (max-height: 480px ){
    canvas{
        margin: 10px auto;
    }
}

/*********************************************************** WEARABLES */
/* Apple Watch ----------- */
@media
(max-device-width: 42mm)
and (min-device-width: 38mm) {
    /* Styles */
}
@media
(max-device-width: 218px)
and (max-device-height: 281px) {
}
/*********************************************************** iPhones */
/* --------------------------------------------------------- iPhone 4 and 4S ----------- */
/* Portrait and Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {
    /* Styles */

}
/* Portrait */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (max-aspect-ratio: 13/9) {
    /* Styles */

}
/* Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-aspect-ratio: 13/9) {
    /* Styles */

}
/* --------------------------------------------------------- iPhone 5 and 5S ----------- */
/* Portrait and Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2) {
    /* Styles */

}
/* Portrait */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (max-aspect-ratio: 13/9) {
    /* Styles */

}
/* Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-aspect-ratio: 13/9) {
    /* Styles */

}
/* --------------------------------------------------------- iPhone 6 ----------- */
/* Portrait and Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2) {
    /* Styles */

}
/* Portrait */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (max-aspect-ratio: 13/9) {
    /* Styles */

}
/* Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-aspect-ratio: 13/9) {
    /* Styles */

}
/* --------------------------------------------------------- iPhone 6+ ----------- */
/* Portrait and Landscape */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3) {
    /* Styles */

}
/* Portrait */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3)
and (max-aspect-ratio: 13/9) {
    /* Styles */

}
/* Landscape */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3)
and (min-aspect-ratio: 13/9) {
    /* Styles */
}
/*********************************************************** iPads */
/* iPads (portrait) ----------- */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (max-aspect-ratio: 13/9)
and (-webkit-min-device-pixel-ratio: 1) {
    /* Styles */
}
/* iPads (landscape) ----------- */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (min-aspect-ratio: 13/9)
and (-webkit-min-device-pixel-ratio: 1) {
    /* Styles */

}
/*********************************************************** Other desktop screen */
/* Non-Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {
    /* Styles */

}
/* Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) {
    /* Styles */

}
/* Larger screens ----------- */
@media only screen
and (min-width : 1024px) {
    /* Styles */

}
/*********************************************************** Print */
/* Print style ----------- */
@media print {
    * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
        -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
    a, a:visited { color: #444 !important; text-decoration: underline; }
    a[href]:after { content: " (" attr(href) ")"; }
    abbr[title]:after { content: " (" attr(title) ")"; }
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
    pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
    thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
    tr, img { page-break-inside: avoid; }
    img { max-width: 100% !important; }
    @page { margin: 0.5cm; }
    p, h2, h3 { orphans: 3; widows: 3; }
    h2, h3{ page-break-after: avoid; }
}
/* italic input placeholder
*******************************/
input::-webkit-input-placeholder { font-style: italic; }
input:-moz-placeholder { font-style: italic; } /* FF 4-18 */
input::-moz-placeholder { font-style: italic; } /* FF 19+ */
input:-ms-input-placeholder { font-style: italic; } /* IE 10+ */
/* remove input placeholder
*******************************/
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */
/* noscroll
*******************************/
.noscroll { overflow: hidden; }
/* selection css
*******************************/
::selection {
    background: #eac06e; /* Safari */
    color: white;
}
::-moz-selection {
    background: #eac06e; /* Firefox */
    color: white;
}
/* remove outline chorme
*******************************/
textarea:focus,
button:focus,
select:focus,
input:focus {
    outline: 0 !important;
}
/* fix select dropdown
*******************************/
select{
    /*-moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background:  url('../images/icon/select-bg.png') no-repeat right center white !important;*/
}
/* hide input[type=number] spiner
*************************************/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}
/*-  SELF-CLEARING FLOATS
----------------------------------------------------------------------*/
/*#page-wrap:after,*/
.app:before
{
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
/********
:)
wimpy katana
*/